<body class="body-main">
	<div class="col-md-1 hidden-xs hidden-sm">
        <%= link_to "Facebook", "http://www.facebook.com/roguetattoos" %><br />
        <%= link_to "Instagram", "http://www.instagram.com/ludlowtattoo" %>
	</div>
	
	<div class="col-md-10">
        <div class="panel home-logo-panel">
            <%= image_tag "header.jpg" %>
        </div>
		<%= render '/layouts/navigation' %>           
            <h1 class="text-center">Rogue Tattoo News and Specials</h1>
    
            <% @news.each do |n| %>
            <div>
                <h3 class="text-center"><%= n.heading %></h3>
                <%= n.body %>
            </div>    
            <% end %>
	</div>
	
	<div class="col-md-1 hidden-xs hidden-sm">
	</div>
</body>