<body class="body-main">
<div class="container">
	<div class="col-md-2 hidden-xs hidden-sm">
		<%= image_tag @url[0] %>
        Created by: <%= @art[0] %>
        
        		<%= image_tag @url[2] %>
        Created by: <%= @art[2] %>
        
        		<%= image_tag @url[4] %>
        Created by: <%= @art[4] %>
	</div>
	
	<div class="col-md-8">
		            <%= image_tag "tattoo_header.jpg", class: "homeimage" %>
            <table class="table-home">
   				<td>
            <address>
            1050 Crater Lake Ave<br>
            Medford, Oregon<br>
            (541)622-8119
            </address>
            </td>
            <td>
            	<%= image_tag "logo.jpg", class: "home-logo"%>
            </td>
            <td>
            	<%= link_to "Facebook", "http://www.facebook.com/roguetattoos" %><br />
            	<%= link_to "Instagram", "http://www.instagram.com/ludlowtattoo" %>
            </td>
            </table>
                        <h1 class="text-center">Rogue Tattoo News and Specials</h1>
    
            <% @news.each do |n| %>
            <div>
                <h3 class="text-center"><%= n.heading %></h3>
                <%= n.body %>
            </div>    
            <% end %>
	</div>
	
	<div class="col-md-2 hidden-xs hidden-sm">
		<%= image_tag @url[1] %>
        Created by: <%= @art[1] %>
        
        		<%= image_tag @url[3] %>
        Created by: <%= @art[3] %>
        
        		<%= image_tag @url[5] %>
        Created by: <%= @art[5] %>
	</div>
    
</div>
</body>