Add new Makeup Artist
<div class='row'>
    <div class='col-md-6'>
        
        <%= form_for @m_artist, url: makeupartist_index_path, :html => { :multipart => true } do |a| %>
        <div class="form-group">
            <label>Name</label>
            <%= a.text_field :name, class: 'form-control' %>
        </div>

        <div class='form-group'>
            <label>Bio</label>
            <%= a.text_area :bio, class: 'form-control' %>
        </div>
        
        <div class='form-group'>
            <label>Choose Image</label>
            <%= a.file_field :avatar %>
        </div>
        <div class='form-group'>
            <%= a.submit %>
        </div>
        <% end %>
    </div>
    
    <div class='col-md-6'>
        
    </div>
</div>